* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: blue;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;

}

.button {
    /* border: 1px solid pink; */
    /* background-color: black; */
    color: black;
    width: 400px;
    height: 70px;
    line-height: 70px;
    text-align: center;

}

.foto1 {

    /* border: 1px solid red; */
    color: black;
    width: 400px;
    height: 70px;
    line-height: 70px;
    text-align: center;

}

.img {
    width: 100%;
    height: 100%;
}

.a-image {
    width: 20%;
}



.a {
    text-decoration: none;
    color: white;

}

/* ------------------------- */



.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */

    background: #0055ff;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 2px solid red; */

    width: 60%;
    height: 100%;

}

.subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */

    width: 100%;
    height: 25%;

    font-size: xx-large;
    color: white;

}

.subcontainer1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* border: 2px solid red; */

    width: 100%;
    height: 100%;

    color: white;

}


.container1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* border: 2px solid red; */

    width: 40%;
    height: 100%;

}

/* ------------------------------ */

.footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: black;
    width: 100%;
    height: 20vh;
    gap: 5px;
}


.rs {

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid white; */
    height: 30%;

    color: white;

}

.icons a {
    /* display: flex; */
    /* flex-direction: row;
    justify-content: center; */
    /* border: 2px solid white; */
    /* background-color: black; */
    height: 40%;
    text-decoration: none;
    color: white;


}

.padre-iconos {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* border: 2px solid red; */

    
}